.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: pink;
    
}
header{
    background-color:yellow;
  
    color:black;
    font-family: sans-serif;
    
    border: 4px solid yellow;
    border-radius: 10px;
   
    
}
.images{
    
    display: flex;
    display:space-between;
background: yellow;
margin-left: 60px;
}
.img1{
    width:100px;
     height:100px;
	
}
.img2{
    width:100px;
     height:100px;
	
}
div{
    
    font-size:22px;
}
div h1{
   text-align: center;
}
nav{
  
   height:40px;
   background-color:blueviolet;
   margin:auto;
   padding-top: 15px;
   
}
nav a{
    color:white;
    
    text-decoration: none;
    margin-left: 60px;
    padding-top: 15px;
    padding:14px 25px ;
 }
 nav a:hover{
    background-color: brown;
    color:beige;
    
 }
 marquee{
    background-color:red;
    padding: 5px;
    color:white;
    font-family: 'Times New Roman', Times, serif;

}
 .img3{
      align-content: center;
      margin-left: 10%;
     
      
     

 }
 home{
    background-color:wheat;
 }
 aside{
    
     width: 40%;
     padding: 15px;
     margin-right: 45px;
     float: right;
     font-style: italic;
     background-color: lightgray;
 }
 .home{
    max-width: 1500px;
    margin:25px;
    background-color: rgba(238, 250, 246, 0.906);
    border:1px solid rgb(134, 128, 128);
    box-shadow: 5px 8px 8px 8px #888888;
    border-radius:4px;
 }
 .video{
    width:70%;
    height:50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 15%;
 }
 .services{
    max-width: 1500px;
    margin:25px;
    background-color: rgba(238, 250, 246, 0.906);
    border:1px solid rgb(134, 128, 128);
    box-shadow: 5px 8px 8px 8px #888888;
    border-radius:4px;
    
    padding-left: 15px;
    
    
 }
 .About{
    max-width: 1500px;
    margin:25px;
    background-color: rgba(238, 250, 246, 0.906);
    border:1px solid rgb(134, 128, 128);
    box-shadow: 5px 8px 8px 8px #888888;
    border-radius:4px;
    
    padding-left: 15px;
 }

 .state{
   border: 1px solid black;
   height:150px;
   border-style: outset;
   padding-left: 40px;
   padding-top: 5px;
   text-decoration: underline;
   font-size: 30px;
   background-color: rgb(161, 239, 7);
   

}
.state h1{
   background-color: rgb(161, 239, 7);
}
.address{
   display: flex;
   padding-left: 10%;
   gap: 50px;
   font-size: 20px;
   background-color: rgb(206, 241, 137);
   column-gap: 100px;
}
.tollfree{
   padding-left: 10%;
   background-color: rgb(206, 241, 137);
}
#Contact{
   background-color: rgb(206, 241, 137);
}


 


    

     

